body {
    background-color: black;
}

pre {
    margin: 0px;
}

.card_list_active {
    color: orange;
}

.card_list_done {
    color: gray;
    text-decoration: line-through 2px;
    text-decoration-color: red;
}

.text20px {
    font-size: 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
}